<app-toolbar
    (newComponentToDisplay)="this.handleNewComponentToDisplay($event)"
    [componentDisplayed]="this.componentDisplayed">
</app-toolbar>

<div class="list-container">
    <app-stop-info
        *ngIf="this.componentDisplayed === 5 && this.selections.stop"
        [stopId]="this.selections.stop"
        (hide)="this.hideStopInfoComponent()">
    </app-stop-info>

    <app-vehicle-info
        *ngIf="this.componentDisplayed === 6 && this.selections.vehicle"
        [vehicleId]="this.selections.vehicle"
        (hide)="this.hideVehicleInfoComponent()">
    </app-vehicle-info>

    <app-agency-list
        [ngClass]="this.componentDisplayed === 1 ? '' : 'hidden'"
        [selections]="this.selections.agencies"
        [selectAll]="this.selectOptions.allAgencies"
        (addAgencyIds)="this.addAgencyIds($event)"
        (removeAgencyIds)="this.removeAgencyIds($event)">
    </app-agency-list>

    <app-route-list
        [ngClass]="this.componentDisplayed === 2 ? '' : 'hidden'"
        [agencyIds]="this.selections.agencies"
        [selections]="this.selections.routes"
        (addRouteId)="this.addRouteId($event)"
        (removeRouteId)="this.removeRouteId($event)">
    </app-route-list>

    <app-stop-list
        [ngClass]="this.componentDisplayed === 3 ? '' : 'hidden'"
        [agencyIds]="this.selections.agencies"
        [routeIds]="this.selections.routes"
        [selections]="this.selections.stops"
        (addStopId)="this.addStopId($event)"
        (removeStopId)="this.removeStopId($event)">
    </app-stop-list>
</div>

<div
    class="option-container"
    *ngIf="this.componentDisplayed === 1 || this.componentDisplayed === 2">
    <button
        *ngIf="componentDisplayed === 1"
        [ngClass]="this.selectOptions.allAgencies ? 'selected' : ''"
        (click)="this.changeSelectAllAgenciesOption()">
        <svg class="option-icon">
            <use xlink:href='./assets/icons/select-all.svg#select-all' href="./assets/icons/select-all.svg#select-all"></use>
        </svg>
        <span
            class="option-name"
            *ngIf="!this.selectOptions.allAgencies">
            Tout sélectionner
        </span>
    </button>
    <button
        *ngIf="this.selections.agencies.length"
        [ngClass]="!this.options.useVehicleClusters ? 'selected' : ''"
        (click)="this.changeUseVehicleClustersOption()">
        <svg class="option-icon">
            <use xlink:href='./assets/icons/merge-all.svg#merge-all' href="./assets/icons/merge-all.svg#merge-all"></use>
        </svg>
        <span 
            class="option-name"
            *ngIf="this.options.useVehicleClusters">
            Garder les repères individuels
        </span>
    </button>
    <button
        *ngIf="this.selections.agencies.length"
        [ngClass]="this.options.mergeAllVehicleClusters ? 'selected' : ''"
        (click)="this.changeMergeAllVehicleClustersOption()">
        <svg class="option-icon">
            <use xlink:href='./assets/icons/merge-all.svg#merge-all' href="./assets/icons/merge-all.svg#merge-all"></use>
        </svg>
        <span 
            class="option-name"
            *ngIf="!this.options.mergeAllVehicleClusters">
            Fusionner les repères
        </span>
    </button>
    <button
        *ngIf="this.selections.agencies.length"
        [ngClass]="this.options.showOldVehicles ? 'selected' : ''"
        (click)="this.changeShowOldVehiclesOption()">
        <svg class="option-icon">
            <use xlink:href='./assets/icons/clock.svg#clock' href="./assets/icons/clock.svg#clock"></use>
        </svg>
        <span 
            class="option-name"
            *ngIf="!this.options.showOldVehicles">
            Afficher les véhicules inactifs
        </span>
    </button>
</div>

<app-map 
    [agencies]="this.selections.agencies"
    [routes]="this.selections.routes"
    [stops]="this.selections.stops"
    [vehicle]="this.selections.vehicle"
    [showOldVehicles]="this.options.showOldVehicles"
    [useVehicleClusters]="this.options.useVehicleClusters"
    [mergeAllVehicleClusters]="this.options.mergeAllVehicleClusters"
    (newStopSelected)="this.addStopSelected($event)"
    (newVehicleSelected)="this.addVehicleSlected($event)">
</app-map>
