<app-toolbar
    (agencyListClick)="this.agencyListSelected = $event"
    (routeListClick)="this.routeListSelected = $event"
    (stopListClick)="this.stopListSelected = $event"
    (vehicleListClick)="this.vehicleListSelected = $event">
</app-toolbar>

<div class="list-container">
    <app-agency-list
        *ngIf="this.agencyListSelected"
        (addAgencySelected)="this.addAgency($event)"
        (removeAgencySelected)="this.removeAgency($event)">
    </app-agency-list>

    <app-route-list
        *ngIf="this.routeListSelected">
    </app-route-list>

    <app-stop-list
        *ngIf="this.stopListSelected">
    </app-stop-list>

    <div
        class="option-container"
        *ngIf="this.agencyListSelected">
        <button *ngIf="this.agencyListSelected">
            <svg class="option-icon">
                <use xlink:href='./assets/icons/select-all.svg#select-all' href="./assets/icons/select-all.svg#select-all"></use>
            </svg>
            <span class="option-name">
                Tout sélectionner
            </span>
        </button>
        <button *ngIf="this.agenciesSelected.length">
            <svg class="option-icon">
                <use xlink:href='./assets/icons/merge-all.svg#merge-all' href="./assets/icons/merge-all.svg#merge-all"></use>
            </svg>
            <span class="option-name">
                Fusionner les repères
            </span>
        </button>
    </div>
</div>

<app-map 
    [agencies]="agenciesSelected">
</app-map>
