.list-container {
    position: relative;
    z-index: 1;
    top: 0.8vh;
    left: 5.5vw;
    max-width: 32vw;
    height: fit-content;
    padding: 0px;
    border-radius: 8px;
    background-color: #f0f8ff;
}

.hidden {
    display: none;
}

.option-container {
    position: relative;
    z-index: 1;
    top: 0.8vh;
    left: 5.5vw;
    max-width: 32vw;
    overflow-x: scroll;
}

.option-container::-webkit-scrollbar {
    width: 0px;
}

.option-container > button {
    margin-right: 1vh;
    margin-top: 0.5vh;
    background-color: #f0f8ff;
    border: 2px solid #e2e8ee;
    border-radius: 10px;
}

.option-container > button:hover {
    cursor: pointer;
    background-color: #dbe2e6;
    border: 2px solid #e8eef2;
}

.option-container > button.selected {
    background-color: #c1cacf;
}

.option-icon {
    max-width: 3.5vh;
    max-height: 3.5vh;
}

.option-name {
    position: relative;
    top: -1vh;
    font-weight: 600;
}
