.container {
    position: relative;
    z-index: 1;
    top: 0.8vh;
    left: 5.5vw;
    max-width: 32vw;
    max-height: 50vh;
    padding: 0px;
    border-radius: 8px;
    background-color: aliceblue;
}
