<app-toolbar></app-toolbar>

<div class="container">
    <app-agency-list
        *ngIf="this.agencySelected"
        [agencyId]="this.agencyId"
        (newAgencyId)="this.changeCurrentAgencyId($event)">
    </app-agency-list>

    <app-route-list
        *ngIf="this.routeSelected"
        [agencyId]="this.agencyId"
        [routeId]="this.routeId"
        (newRouteId)="this.changeCurrentRouteId($event)">
    </app-route-list>

    <app-stop-list
        *ngIf="this.stopSelected"
        [agencyId]="this.agencyId"
        [routeId]="this.routeId"
        [stopId]="this.stopId"
        (newStopId)="this.changeCurrentStopId($event)">
    </app-stop-list>
</div>

<app-map 
    [agencyId]="agencyId"
    [stopId]="stopId"
    [routeId]="routeId"
    [tripId]="tripId">
</app-map>
