<app-toolbar
    (agencyListClick)="this.agencyListSelected = $event"
    (routeListClick)="this.routeListSelected = $event"
    (stopListClick)="this.stopListSelected = $event"
    (vehicleListClick)="this.vehicleListSelected = $event">
</app-toolbar>

<div class="container">
    <app-agency-list
        *ngIf="this.agencyListSelected"
        (addAgencySelected)="this.addAgency($event)"
        (removeAgencySelected)="this.removeAgency($event)">
    </app-agency-list>

    <app-route-list
        *ngIf="this.routeListSelected">
    </app-route-list>

    <app-stop-list
        *ngIf="this.stopListSelected">
    </app-stop-list>
</div>

<app-map 
    [agencies]="agenciesSelected">
</app-map>
