<div class="sidebar">
    <button class="sidebar-icon" 
        (click)="this.displayAgencyList()"
        [ngClass]="this.agencyId ? 'selected' : ''">
        <img class="sidebar-icon" src="./assets/icons/agency.svg">
    </button>
    <button class="sidebar-icon"
        (click)="this.displayRouteList()"
        [ngClass]="this.routeId ? 'selected' : ''">
        <img class="sidebar-icon" src="./assets/icons/route.svg">
    </button>
    <button class="sidebar-icon"
        (click)="this.displayStopList()"
        [ngClass]="this.stopId ? 'selected' : ''">
        <img class="sidebar-icon" src="./assets/icons/stop-sign.svg">
    </button>
    <button class="sidebar-icon" disabled>
        <img class="sidebar-icon" src="./assets/icons/bus.svg">
    </button>
</div>

<div class="container">
    <app-agency-list
        *ngIf="this.agencySelected"
        [agencyId]="this.agencyId"
        (newAgencyId)="this.changeCurrentAgencyId($event)">
    </app-agency-list>

    <app-route-list
        *ngIf="this.routeSelected"
        [agencyId]="this.agencyId"
        [routeId]="this.routeId"
        (newRouteId)="this.changeCurrentRouteId($event)">
    </app-route-list>

    <app-stop-list
        *ngIf="this.stopSelected"
        [agencyId]="this.agencyId"
        [routeId]="this.routeId"
        [stopId]="this.stopId"
        (newStopId)="this.changeCurrentStopId($event)">
    </app-stop-list>
</div>

<app-map 
    [agencyId]="agencyId"
    [stopId]="stopId"
    [routeId]="routeId"
    [tripId]="tripId">
</app-map>
