<h1 class="page-title">Organismes de transport disponibles</h1>
<hr class="delimitation">

<div class="agency-group">
    <h2 class="region-title">Grand-Montréal</h2>
    <div class="button-group">
        <button class="agency-logo" [routerLink]="['/agency/stl']">
            <img class="agency-logo" src="assets/agencies/stl.png" />
        </button>
        <button class="agency-logo" disabled>
            <img class="agency-logo" src="assets/agencies/stm.png" />
        </button>
        <button class="agency-logo" disabled>
            <img class="agency-logo" src="assets/agencies/rtl.png" />
        </button>
        <button class="agency-logo" disabled>
            <img class="agency-logo" src="assets/agencies/exo.png" />
        </button>
    </div>
</div>
