<h1 class="page-title">Les lignes de transport en commun</h1>
<hr class="delimitation">

<div class="route-container" *ngFor="let route of this.routes">
    <span class="route-name">
        <span class="route-icon">
            <span>{{ route.id }}</span>
        </span>
        <span>{{ route.destination }}</span>
    </span>
    <span class="route-info">
        <img *ngIf="route.nightOnly" class="route-info-icon" src="./assets/options/night.png"/>
        <img *ngIf="route.accessible" class="route-info-icon" src="./assets/options/accessible.png"/>
        <img *ngIf="route.type === 3" class="route-info-icon" src="./assets/options/bus.png"/>
    </span>
</div>