<div class="settings-container">
    <div class="settings-section">
        <h2 class="settings-section-title">
            Agences
        </h2>
        <hr>
        <div class="option-container">
            <div>
                <svg class="option-icon">
                    <use xlink:href='./assets/icons/location.svg#location' href="./assets/icons/location.svg#location"></use>
                </svg>
                <p class="option-name">
                    Choisir les agences selon la position
                </p>
            </div>
            <label class="switch" for="location">
                <input
                    type="checkbox" id="location" disabled
                />
                <div class="slider"></div>
            </label>
        </div>
        <div>
            <div class="option-container">
                <div>
                    <svg class="option-icon">
                        <use xlink:href='./assets/icons/cluster.svg#cluster' href="./assets/icons/cluster.svg#cluster"></use>
                    </svg>
                    <p class="option-name">
                        Grouper les véhicules à proximité
                    </p>
                </div>
                <label class="switch" for="cluster">
                    <input
                        type="checkbox" id="cluster"
                        [checked]="this.renderingOptions.useVehicleClusters"
                        (change)="this.setUseVehicleClustersOption($event)"
                    />
                    <div class="slider"></div>
                </label>
            </div>
            <div class="option-container">
                <div>
                    <svg class="option-icon">
                        <use xlink:href='./assets/icons/merge.svg#merge' href="./assets/icons/merge.svg#merge"></use>
                    </svg>
                    <p class="option-name">
                        Grouper les véhicules d'agences différentes
                    </p>
                </div>
                <label class="switch" for="merge">
                    <input
                        type="checkbox" id="merge"
                        [checked]="this.renderingOptions.mergeAllVehicleClusters"
                        (change)="this.setMergeAllVehicleClustersOption($event)"
                    />
                    <div class="slider"></div>
                </label>
            </div>
        </div>
        <div class="option-container">
            <div>
                <svg class="option-icon">
                    <use xlink:href='./assets/icons/clock.svg#clock' href="./assets/icons/clock.svg#clock"></use>
                </svg>
                <p class="option-name">
                    Afficher les véhicules inactifs depuis plus de deux minutes
                </p>
            </div>
                <label class="switch" for="clock">
                    <input
                        type="checkbox" id="clock"
                        [checked]="this.renderingOptions.showOldVehicles"
                        (change)="this.setShowOldVehicleOption($event)"
                    />
                    <div class="slider"></div>
                </label>
        </div>
    </div>
</div>
