<h1 class="page-title">Horaire des passages</h1>
<hr class="delimitation">

<div class="schedule-container">
    <div class="schedule-column schedule-based">
        <h3 class="column-title">Planifiés</h3>
        <p *ngFor="let time of times">
            {{ this.formatTimeToWait(time.stMinutesAhead, time.stSecondsAhead) }}
        </p>
    </div>

    <div class="schedule-column realtime-based">
        <h3 class="column-title">Temps réel</h3>
        <p *ngFor="let time of times">
            <br *ngIf="!time.rtMinutesAhead || !time.rtSecondsAhead">
            <span *ngIf="time.rtMinutesAhead && time.rtSecondsAhead">
                {{ this.formatTimeToWait(time.rtMinutesAhead, time.rtSecondsAhead) }}
            </span>
        </p>
    </div>

    <div class="schedule-column service-state">
        <h3 class="column-title">État du service</h3>
        <p *ngFor="let time of times">
            <br *ngIf="getTripArrivalState(time) === 4">
            <span *ngIf="time.rtMinutesAhead && time.rtSecondsAhead">
                <span *ngIf="getTripArrivalState(time) === 0">
                    En avance de {{ this.formatTimeDifference(time) }}
                </span>
                <span *ngIf="getTripArrivalState(time) === 1">
                    À l'heure
                </span>
                <span *ngIf="getTripArrivalState(time) === 2">
                    En retard de {{ this.formatTimeDifference(time) }}
                </span>
            </span>
        </p>
    </div>
</div>
