<div class="sidebar">
    <button class="sidebar-icon">
        <img class="sidebar-icon" src="./assets/icons/agency.png">
    </button>
    <button class="sidebar-icon">
        <img class="sidebar-icon" src="./assets/icons/route.png">
    </button>
    <button class="sidebar-icon">
        <img class="sidebar-icon" src="./assets/icons/stop-sign.png">
    </button>
    <button class="sidebar-icon">
        <img class="sidebar-icon" src="./assets/icons/bus.png">
    </button>
</div>

<div class="container">
    <app-time-comparison [times]="this.times" [selectedTripId]="this.tripId"></app-time-comparison>
</div>

<app-map 
    [agencyId]="agencyId ? agencyId : ''"
    [stopId]="stopId ? stopId : ''"
    [routeId]="routeId ? routeId : ''"
    [tripId]="tripId">
</app-map>
