.header {
    position: relative;
    z-index: 1;
    padding: 10px;
    margin-bottom: 5px;
    padding-bottom: 5px;
    border-radius: 10px;
    background-color: aliceblue;
}

.delimitation {
    position: relative;
    z-index: 1;
    margin-top: 0px;
    padding-top: 0px;
}

.page-title, .column-title {
    position: relative;
    z-index: 1;
    color: #0a2196;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.column-title {
    margin-top: 1%;
    margin-left: 1%;
}


.schedule-container {
    position: relative;
    z-index: 1;
    max-height: 300px;
    overflow-y: scroll;
    max-width: 580px;
    padding-right: 0px;
    display: grid;
    grid-template-columns: 10% 24% 22% 44%;
    border-radius: 5px;
    border: 2px solid transparent;
    background-color: #cfcfcf;
}

.schedule-container::-webkit-scrollbar {
    width: 10px;
}

.schedule-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #bababa;
}


.schedule-column {
    padding: 8px;
}

.route-icon {
    grid-column: 1;
    display: flex;
    justify-content: center;
    margin-right: 0.5%;
    border-radius: 10%;
    background-color: #0a2196;
}

.route-icon > span {
    color: aliceblue;
    font-size: 100%;
    font-weight: bold;
}

.schedule-based {
    grid-column: 2;
}

.realtime-based {
    grid-column: 3;
}

.service-state {
    grid-column: 4;
}

p, span {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
