<div style="display: flex; flex-direction: row; gap: 10px;">
    <div *ngIf="times.length > 0 && times[0].routeTag">
        <p>Nom de la ligne</p>
        <p *ngFor="let time of times">
            {{ time.routeTag }}
        </p>
    </div>

    <div *ngIf="expectedTimes.length > 0 && expectedTimes[0].stopTag">
        <p>Nom de l'arrêt</p>
        <p *ngFor="let expectedTime of expectedTimes">
            {{ expectedTime.stopTag }}
        </p>
    </div>

    <div>
        <p *ngIf="times.length === 1">Passage en temps réel</p>
        <p *ngIf="times.length > 1">Passages en temps réel</p>
        <p *ngFor="let time of times">
            {{ this.formatTimeToWait(time.minutesAhead, time.secondsAhead) }}
        </p>
    </div>
    
    <div>
        <p *ngIf="expectedTimes.length === 1">Passage planifié</p>
        <p *ngIf="expectedTimes.length > 1">Passages planifiés</p>
        <p *ngFor="let expectedTime of expectedTimes">
            {{ this.formatTimeToWait(expectedTime.minutesAhead, expectedTime.secondsAhead) }}
        </p>
    </div>

    <div>
        <p *ngIf="times.length === 1">État du passage</p>
        <p *ngIf="times.length > 1">État des passage</p>
        <p *ngFor="let time of times, let i = index">
            <span *ngIf="expectedTimes.length > i">
                <span *ngIf="time.secondsAhead - expectedTimes[i].secondsAhead > -15
                    && time.secondsAhead - expectedTimes[i].secondsAhead < 15">
                    À l'heure
                </span>
                <span *ngIf="time.secondsAhead - expectedTimes[i].secondsAhead < -15">
                    En avance de {{ 
                        this.formatTimeToWait(
                            expectedTimes[i].minutesAhead - time.minutesAhead,
                            expectedTimes[i].secondsAhead - time.secondsAhead
                        ) 
                    }}
                </span>
                <span *ngIf="time.secondsAhead - expectedTimes[i].secondsAhead > 15">
                    En retard de {{ 
                        this.formatTimeToWait(
                            time.minutesAhead - expectedTimes[i].minutesAhead,
                            time.secondsAhead - expectedTimes[i].secondsAhead
                        ) 
                    }}
                </span>
            </span>
        </p>
    </div>
</div>
