<div style="display: flex; flex-direction: row; gap: 10px;">
    <div *ngIf="filter === 'stop' && mergeTimes.length > 0">
        <p>Nom de la ligne</p>
        <p *ngFor="let mergeTime of mergeTimes">
            <br *ngIf="!mergeTime.rt">
            <span *ngIf="mergeTime.rt">
                {{ mergeTime.rt.routeTag }}
            </span>
        </p>
    </div>

    <div *ngIf="filter === 'route' && mergeTimes.length > 0">
        <p>Nom de l'arrêt</p>
        <p *ngFor="let mergeTime of mergeTimes">
            {{ mergeTime.st.stopTag }}
        </p>
    </div>

    <div>
        <p *ngIf="filter !== 'route'">Passages en temps réel</p>
        <p *ngFor="let mergeTime of mergeTimes">
            <br *ngIf="!mergeTime.rt">
            <span *ngIf="mergeTime.rt">
                {{ this.formatTimeToWait(mergeTime.rt.minutesAhead, mergeTime.rt.secondsAhead) }}
            </span>
        </p>
    </div>
    
    <div>
        <p>Passages planifiés</p>
        <p *ngFor="let mergeTime of mergeTimes">
            {{ this.formatTimeToWait(mergeTime.st.minutesAhead, mergeTime.st.secondsAhead) }}
        </p>
    </div>

    <div>
        <p *ngIf="filter !== 'route'">État des passage</p>
        <p *ngFor="let mergeTime of mergeTimes">
            <br *ngIf="!mergeTime.rt">
            <span *ngIf="mergeTime.rt">
                <span *ngIf="mergeTime.rt.secondsAhead - mergeTime.st.secondsAhead > -15
                    && mergeTime.rt.secondsAhead - mergeTime.st.secondsAhead < 15">
                    À l'heure
                </span>
                <span *ngIf="mergeTime.rt.secondsAhead - mergeTime.st.secondsAhead < -15">
                    En avance de {{ 
                        this.formatTimeToWait(
                            mergeTime.st.minutesAhead - mergeTime.rt.minutesAhead,
                            mergeTime.st.secondsAhead - mergeTime.rt.secondsAhead
                        ) 
                    }}
                </span>
                <span *ngIf="mergeTime.rt.secondsAhead - mergeTime.st.secondsAhead > 15">
                    En retard de {{ 
                        this.formatTimeToWait(
                            mergeTime.rt.minutesAhead - mergeTime.st.minutesAhead,
                            mergeTime.rt.secondsAhead - mergeTime.st.secondsAhead
                        ) 
                    }}
                </span>
            </span>
        </p>
    </div>
</div>
