<h1 class="page-title">Options disponibles</h1>
<hr class="delimitation">

<div class="button-group">
    <button class="option-icon">
        <div>
            <img class="option-icon" src="assets/options/bus.png" />
            <p>Visualiser toutes les lignes du réseau</p>
        </div>
    </button>
    <button class="option-icon" disabled>
        <div>
            <img class="option-icon" src="assets/options/stop.png" />
            <p>Visualiser tous les arrêts du réseau</p>
        </div>
    </button>
    <button class="option-icon" disabled>
        <div>
            <img class="option-icon" src="assets/options/map.png" />
            <p>Visualiser la carte de tout le réseau</p>
        </div>
    </button>
</div>
