.delimitation {
    margin-top: 0px;
    padding-top: 0px;
}

.region-title {
    margin-top: 1%;
    margin-left: 1%;
}

.page-title {
    color: #0a2196;
    margin-bottom: 0px;
    padding-bottom: 5px;
}

.button-group {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button.option-icon {
    padding: 8px;
    border: 2px solid transparent;
    border-radius: 10px;
}

button.option-icon:enabled:hover {
    cursor: pointer;
    border: 2px solid #000000;
    background-color: #bababa;
}

img.option-icon {
    max-width: 140px;
    max-height: 140px;
}

button.option-icon:disabled > img.option-icon {
    cursor: not-allowed;
    filter: grayscale(1);
}
