.route-container {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.route-container.clickable:hover {
    cursor: pointer;
    background-color: #dbe2e6 !important;
}

.route-container.clickable.selected {
    background-color: #c1cacf !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
    justify-content: start;
}

.route-type {
    width: 6vh;
    height: 6vh;
    padding-top: 0.5vh;
    padding-bottom: 0.5vh;
    padding-left: 1vh;
    padding-right: 0.5vh;
}

.route-identifier-container {
    margin-top: 1vh;
}

.route-identifier {
    font-size: 4vh;
}

.route-name-container {
    display: table;
    margin-left: 3.5vh;
}

.route-name {
    display: table-cell;
    vertical-align: middle;
    text-align: lef;
    font-size: 2.4vh;
}
