<div class="stop-list">
    <div *ngIf="!this.agencyIdsToShow.size">
        <svg class="information-icon">
            <use
                xlink:href='./assets/icons/information.svg#information'
                href="./assets/icons/information.svg#information">
            </use>
        </svg>
        <span class="information-text">Il faut d'abord sélectionner une agence...</span>
    </div>

    <div
        class="agency-stop-list"
        *ngFor="let stop of this.stops">
        <div *ngIf="this.agencyIdsToShow.has(stop.agency.agency_id)">
            <div
                class="agency-element"
                (click)="this.onAgencyClick(stop.agency.agency_id)">
                <h3 class="agency-name">
                    {{ stop.agency.agency_name }}
                </h3>
                <svg 
                    class="list-icon"
                    *ngIf="!this.agencyIdsSelected.has(stop.agency.agency_id)">
                    <use 
                        xlink:href='./assets/icons/show.svg#show'
                        href="./assets/icons/show.svg#show">
                    </use>
                </svg>
                <svg
                    class="list-icon"
                    *ngIf="this.agencyIdsSelected.has(stop.agency.agency_id)">
                    <use
                        xlink:href='./assets/icons/hide.svg#hide'
                        href="./assets/icons/hide.svg#hide">
                    </use>
                </svg>
            </div>
            <hr>
            <div *ngIf="this.agencyIdsSelected.has(stop.agency.agency_id)">
                <cdk-virtual-scroll-viewport class="stop-viewport" [itemSize]="100">
                    <app-stop 
                        class="stop-element"
                        *cdkVirtualFor="let stop of stop.stops; trackBy: this.trackByStop"
                        [stop]="stop"
                        (click)="this.onStopClick(stop.agency_id, stop.stop_id)">
                    </app-stop>
                </cdk-virtual-scroll-viewport>
            </div>
        </div>
    </div>
</div>
