<div class="stop-container" [ngClass]="{ 'selected': this.selected }">
    <div class="stop-identifier-container">
        <svg class="stop-type">
            <use [attr.xlink:href]='this.stopIconHref' [attr.href]="this.stopIconHref" />
        </svg>

        <div class="stop-identifier">
            {{ stop.stop_code }}
        </div>
    </div>

    <div class="stop-info-container">
        <span class="stop-name">
            {{ stop.stop_name }}
        </span>

        <div class="stop-feature-container">
            <svg class="stop-feature" *ngIf="stop.wheelchair_boarding === 1">
                <use [attr.xlink:href]='this.wheelchairIconHref' [attr.href]="this.wheelchairIconHref" />
            </svg>

            <div
                class="route-identifier"
                *ngFor="let route of this.routes">
                <app-route-identifier
                    *ngIf="route"
                    [route]="route"
                    [showAgency]="false">
                </app-route-identifier>
            </div>
        </div>
    </div>
</div>

