<div class="row">
    <div class="column-item agency-id">
        <h3 class="column-title">Sigle</h3>
    </div>
    <div class="column-item agency-name">
        <h3 class="column-title">Nom complet</h3>
    </div>
    <h3 class="column-title agency-logo">&nbsp;</h3>
</div>
<hr class="delimitation">

<ul class="container-content">
    <li *ngFor="let agency of this.agencies" 
        class="row row-element" 
        (click)="onClick(agency.agency_id)"
        [ngClass]="agency.agency_id === this.agencyId ? 'selected' : ''"
    >
        <div class="column-item agency-id">
            <span>{{ agency.agency_id }}</span>
        </div>

        <div class="column-item agency-name">
            <span>{{ agency.agency_name }}</span>
        </div>

        <div class="column-item agency-logo">
            <img src="./assets/agencies/{{ agency.agency_id.toLowerCase() }}.png"/>
        </div>
    </li>
</ul>