.column-title {
    position: relative;
    z-index: 1;
    padding-bottom: 5px;
    color: #0a2196;
    margin-bottom: 0%;
}

.container-content {
    position: relative;
    z-index: 1;
    max-height: 250px;
    overflow-y: scroll;
    max-width: 580px;
    margin: 0px;
    margin-left: 4px;
    padding: 0px;
}

.container-content::-webkit-scrollbar {
    width: 10px;
}

.container-content::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #bababa;
}


.row {
    display: grid;
    grid-template-columns: 12% 58% 30%;
}

.row > p {
    margin: 4px;   
}

.row-element {
    margin-right: 4px;
    margin-bottom: 2px;
    border-radius: 5px;
    border: 2px solid transparent;
}

.row-element:hover, .selected {
    cursor: pointer;
    border: 2px solid #000000;
    background-color: #bababa;
}

.row-element::selection {
    cursor: pointer;
    border: 2px solid #000000;
    background-color: #bababa;
}

.route-icon {
    display: flex;
    justify-content: center;
    border-radius: 10%;
    background-color: #0a2196;
}

.column-item {
    min-width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.column-item.agency-logo {
    justify-content: end;
}

.agency-logo > img {
    height: 50px;
    margin: 4px;
}

.agency-id {
    grid-column: 1;
}

.agency-name {
    grid-column: 2;
}

.agency-logo {
    grid-column: 3;
}

p, span {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
