<div class="vehicle-container">
    <div class="vehicle-header">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 70 70"
            [ngStyle]="{color: this.attributes.style?.iconColor}">
            <g
                [attr.fill]="this.attributes.style?.backgroundColor"
                [attr.transform]="'rotate(' + (this.attributes.bearing - 180) + ' 35 35)'">
                <circle cx="35" cy="35" r="20"/>
                <path *ngIf="this.attributes.bearing >= 0" d="M35,70 20,53 35,60 50,53z"/>
            </g>
            <use 
                height="32" x="0" y="17" 
                [attr.xlink:href]="this.attributes.iconLink" 
                [attr.href]="this.attributes.iconLink">
            </use>
        </svg>
        <div>
            <p 
                class="vehicle-identifier"
                *ngIf="this.vehicleId.vehicleId.includes('zenbus')">
                Inconnu
            </p>
            <p 
                class="vehicle-identifier"
                *ngIf="!this.vehicleId.vehicleId.includes('zenbus')">
                {{ this.vehicleId.vehicleId }}
            </p>
            <p class="vehicle-last-update">
                Il y a {{ this.attributes.lastSeenString }}
            </p>
        </div>
    </div>

    <hr>
    <app-route 
        *ngIf="this.attributes.route"
        [route]="this.attributes.route"
        [trip]="this.attributes.trip">
    </app-route>
    <hr *ngIf="this.attributes.route">

    <div class="vehicle-info-container">
        <div
            class="vehicle-info"
            *ngIf="this.attributes.speedKmHrString">
            <svg [ngStyle]="{color: this.attributes.style?.backgroundColor}">
                <use xlink:href='./assets/icons/speed.svg#speed' href="./assets/icons/speed.svg#speed"></use>
            </svg>
            <div>
                <p class="vehicle-info-title">         
                    Vitesse
                </p>
                <p class="vehicle-info-value">
                    {{ this.attributes.speedKmHrString }}
                </p>
            </div>
        </div>

        <div
            class="vehicle-info"
            *ngIf="this.vehicle?.trip?.startTime">
            <svg [ngStyle]="{color: this.attributes.style?.backgroundColor}">
                <use xlink:href='./assets/icons/clock.svg#clock' href="./assets/icons/clock.svg#clock"></use>
            </svg>
            <div>
                <p class="vehicle-info-title">         
                    Heure du départ
                </p>
                <p class="vehicle-info-value">         
                    {{ this.vehicle?.trip?.startTime }}
                </p>
            </div>
        </div>

        <div
            class="vehicle-info"
            *ngIf="this.attributes.occupancyString">
            <svg [ngStyle]="{color: this.attributes.style?.backgroundColor}">
                <use xlink:href='./assets/icons/occupancy.svg#occupancy' href="./assets/icons/occupancy.svg#occupancy"></use>
            </svg>
            <div>
                <p class="vehicle-info-title">         
                    Achalandage
                </p>
                <p class="vehicle-info-value">
                    {{ this.attributes.occupancyString }}
                </p>
            </div>
        </div>

        <div
            class="vehicle-info"
            *ngIf="this.attributes.stopStatusString">
            <svg [ngStyle]="{color: this.attributes.style?.backgroundColor}">
                <use xlink:href='./assets/icons/route.svg#route' href="./assets/icons/route.svg#route"></use>
            </svg>
            <div>
                <p class="vehicle-info-title">         
                    Statut du trajet
                </p>
                <p class="vehicle-info-value">
                    {{ this.attributes.stopStatusString }}
                </p>
            </div>
        </div>

        <div
            class="vehicle-info"
            *ngIf="this.vehicle?.currentStopSequence">
            <svg [ngStyle]="{color: this.attributes.style?.backgroundColor}">
                <use xlink:href='./assets/icons/stop.svg#stop' href="./assets/icons/stop.svg#stop"></use>
            </svg>
            <div>
                <p class="vehicle-info-title">         
                    Numéro de séquence d'arrêt
                </p>
                <p class="vehicle-info-value">
                    {{ this.vehicle?.currentStopSequence }}
                </p>
            </div>
        </div>

        <div class="vehicle-info">
            <svg [ngStyle]="{color: this.attributes.style?.backgroundColor}">
                <use xlink:href='./assets/icons/schedule.svg#schedule' href="./assets/icons/schedule.svg#schedule"></use>
            </svg>
            <div>
                <p class="vehicle-info-title">         
                    Relation avec l'horaire
                </p>
                <p class="vehicle-info-value">
                    {{ this.attributes.scheduleRelationshipString }}
                </p>
            </div>
        </div>

        <div
            class="vehicle-info"
            *ngIf="this.attributes.congestionLevelString">
            <svg [ngStyle]="{color: this.attributes.style?.backgroundColor}">
                <use xlink:href='./assets/icons/traffic.svg#traffic' href="./assets/icons/traffic.svg#traffic"></use>
            </svg>
            <div>
                <p class="vehicle-info-title">         
                    Niveau de congestion
                </p>
                <p class="vehicle-info-value">
                    {{ this.attributes.congestionLevelString }}
                </p>
            </div>
        </div>
    </div>
</div>
