<div 
    class="route-container"
    [ngClass]="{ 'clickable' : !this.trip, 'selected': this.selected }"
    [ngStyle]="{ 'background-color': this.trip ? '#' + this.route.route_color : 'transparent' }">

    <div class="flex-row">
        <app-route-type
            class="route-type"
            [route]="this.route"
            [applyColor]="this.trip ? true : false">
        </app-route-type>

        <div class="route-identifier-container">
            <app-route-identifier
                class="route-identifier"
                [route]="this.route"
                [showAgency]="this.trip ? true : false">
            </app-route-identifier>

            <app-trip-direction
                class="trip-direction"
                *ngIf="this.trip"
                [trip]="this.trip"
                [route]="this.route">
            </app-trip-direction>
        </div>

        <div class="route-name-container">
            <p
                class="route-name"
                *ngIf="!this.trip">
                {{ this.route.route_long_name }}
            </p>
        </div>
    </div>
</div>
