.stop-container {
    position: relative;
    z-index: 2;
    max-width: 32vw;
    max-height: 72vh;
    overflow-y: scroll;
    margin: 0px;
    padding: 0px;
    padding-top: 1vh;
    padding-bottom: 1vh;
    scrollbar-width: none;
}

.stop-container::-webkit-scrollbar {
    width: 0px;
}

.stop-header {
    display: flex;
    flex-direction: row;
    margin-left: 0.3vw;
}

.stop-header > svg {
    max-width: 10vh;
    max-height: 10vh;
    margin-right: 2vh;
}

.stop-identifier {
    position: relative;
    margin-top: 1vh;
    margin-bottom: 0.2vh;
    font-size: 4.5vh;
    font-weight: bold;
    max-width: 22vw;
    overflow-x: hidden;
}

.close-container-button {
    position: absolute;
    right: 0.5vw;
    width: 5vh;
    height: 5vh;
    font-size: 4vh;
    font-weight: bold;
    line-height: 85%;
    border: 0px;
    border-radius: 100%;
    background-color: #dbe2e6;
}

.close-container-button:hover {
    background-color: #c1cacf;
}

.stop-code {
    margin: 0px;
}

.stop-route-container {
    display: flex;
    flex-direction: row;
    margin-top: 0.5vh;
    padding: 0vh;
    overflow-x: scroll;
    scrollbar-width: 4px;
    scrollbar-color: #c1c1c1 transparent;
}

.stop-route-container::-webkit-scrollbar {
    height: 4px;
}

.stop-route-container::-webkit-scrollbar-track {
    border-radius: 8px;
    background-color: transparent;
}

.stop-route-container::-webkit-scrollbar-thumb {
    border-radius: 8px;
    background-color: #c1c1c1;
}

.route-identifier {
    height: fit-content;
    margin-right: 1vh;
    margin-bottom: 4px;
    font-size: 3.5vh;
}

.stop-info {
    display: flex;
    flex-direction: row;
    margin: 1.5vh;
    min-height: 6vh;
}

.stop-info > svg,
.stop-routes > svg {
    margin-right: 3vh;
    max-width: 5vh;
    max-height: 5vh;
}

.stop-info-title {
    margin: 0px;
    font-size: 2vh;
    font-weight: 500;
    color: #849096;
}

.stop-info-value {
    margin: 0px;
    font-size: 2.5vh;
}

.stop-viewport {
    height: 28vh;
    width: 31vw;
    scrollbar-width: 0px;
}

.stop-viewport::-webkit-scrollbar {
    width: 0px;
}
