<div class="route-list">
    <div *ngIf="!this.routes.length">
        <svg class="information-icon">
            <use xlink:href='./assets/icons/information.svg#information' href="./assets/icons/information.svg#information"></use>
        </svg>
        <span class="information-text">Il faut d'abord sélectionner une agence...</span>
    </div>

    <div
        class="agency-route-list"
        *ngFor="let route of this.routes">
        <div
            class="agency-element"
            (click)="this.onAgencyClick(route.agency ? route.agency.agency_id : '')">
            <h3 class="agency-name">
                {{ route.agency ? 
                    route.agency.agency_name : route.routes[0].agency_id.toUpperCase() }}
            </h3>
            <svg 
                class="list-icon"
                *ngIf="route.agency && !this.agencyIdsSelected.has(route.agency.agency_id)">
                <use xlink:href='./assets/icons/show.svg#show' href="./assets/icons/show.svg#show"></use>
            </svg>
            <svg
                class="list-icon"
                *ngIf="route.agency && this.agencyIdsSelected.has(route.agency.agency_id)">
                <use xlink:href='./assets/icons/hide.svg#hide' href="./assets/icons/hide.svg#hide"></use>
            </svg>
        </div>
        <hr>
        <div
            *ngIf="route.agency"
            [ngClass]="!this.agencyIdsSelected.has(route.agency.agency_id) ? 'hidden' : ''">
            <app-route 
                class="route-element"
                *ngFor="let route of route.routes"
                [route]="route"
                [selected]="this.routeIdsSelected.has(route.agency_id + '/' + route.route_id.split('/').pop())"
                (click)="this.onRouteClick(route.agency_id, route)">
            </app-route>
        </div>
    </div>
</div>
