<div class="toolbar">
    <button 
        class="tool"
        [ngClass]="this.componentDisplayed === 1 ? 'selected' : ''"
        (click)="this.handleAgencyListClick()">
        <svg class="tool">
            <use xlink:href='../assets/icons/agency.svg#agency' href="./assets/icons/agency.svg#agency"></use>
        </svg>
        <p class="tool-name">Agences</p>
    </button>
    <button 
        class="tool"
        [ngClass]="this.componentDisplayed === 2 ? 'selected' : ''"
        (click)="this.handleRouteListClick()">
        <svg class="tool">
            <use xlink:href='../assets/icons/route.svg#route' href="./assets/icons/route.svg#route"></use>
        </svg>
        <p class="tool-name">Routes</p>
    </button>
    <button 
        class="tool"
        [ngClass]="this.componentDisplayed === 3 ? 'selected' : ''"
        (click)="this.handleStopListClick()">
        <svg class="tool">
            <use xlink:href='../assets/icons/stop-sign.svg#stop-sign' href="./assets/icons/stop-sign.svg#stop-sign"></use>
        </svg>
        <p class="tool-name">Arrêts</p>
    </button>
    <button 
        class="tool"
        [ngClass]="this.componentDisplayed === 4 ? 'selected' : ''"
        (click)="this.handleVehicleListClick()">
        <svg class="tool">
            <use xlink:href='../assets/icons/bus.svg#bus' href="./assets/icons/bus.svg#bus"></use>
        </svg>
        <p class="tool-name">Véhicules</p>
    </button>
    <button 
        class="tool"
        [ngClass]="this.componentDisplayed === 7 ? 'selected' : ''"
        (click)="this.handleSettingsClick()">
        <svg class="tool">
            <use xlink:href='../assets/icons/settings.svg#settings' href="./assets/icons/settings.svg#settings"></use>
        </svg>
        <p class="tool-name">Paramètres</p>
    </button>
</div>
