.stop-container {
    display: flex;
    flex-direction: row;
}

.stop-container:hover {
    cursor: pointer;
}

.stop-info {
    margin: 0px;
    margin-top: 1vh;
    padding: 0px;
}

.stop-name-row {
    width: 26vw;
    margin: 0px;
    padding: 0px;
}

.stop-name {
    font-size: 3vh;
    font-weight: 700;
    margin: 0px;
    padding: 0px;
}

.stop-feature-container {
    vertical-align: bottom;
}

.stop-feature {
    max-width: 3vh;
    max-height: 3vh;
}

.stop-identifier {
    font-size: 2vh;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
    margin-top: 1%;   
}

.stop-type {
    margin: 0px;
    padding: 1.5vh;
    align-items: center;
}

.stop-type-icon {
    max-width: 7vh;
    max-height: 7vh;
}