<div class="vehicle-container">
    <div class="vehicle-header">
        <svg
            xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink"
            viewBox="0 0 50 50"
            [ngStyle]="{color: this.style?.vehicleIconColor}">
            <defs>
                <filter id="blur">
                    <feDropShadow dx="0" dy="0" stdDeviation="3.0"
                        flood-color="black"/>
                </filter>
                <mask id="circle-mask" x="-0.2" y="-0.2" width="1.4" height="1.4">
                    <circle cx="25" cy="25" r="25" fill="white"/>  
                    <circle cx="25" cy="25" r="20" fill="black"/>  
                </mask>
            </defs>
            <circle cx="25" cy="25" r="20" style="mask: url(#circle-mask); filter: url(#blur)"/>
            <circle cx="25" cy="25" r="20" [attr.fill]="this.style?.backgroundColor"/>
            <use
                height="32" y="7"
                [attr.xlink:href]="this.iconLink"
                [attr.href]="this.iconLink"></use>
        </svg>
        <div>
            <p class="vehicle-identifier">
                {{ vehicle.vehicle?.id }} · {{ route ? route.agency_id.toUpperCase() : '' }}
            
            </p>
            <p class="vehicle-last-update">
                Il y a {{ this.lastSeen }} sec.
            
            </p>
        </div>
    </div>

    <hr>

    <div class="vehicle-info-container">
        <p class="info-title">         
           Heure du départ:
        </p>
        <p class="info-value">         
           {{ vehicle.trip?.startTime }}
        </p>

        <p class="info-title">         
           Achalandage:
        </p>
        <p class="info-value">
            {{ vehicle.occupancyStatus }}
        </p>

        <p class="info-title">         
           Vitesse:
        </p>
        <p class="info-value">
            {{ vehicle.position?.speed }}
        </p>
        
        <p class="info-title">         
           Statut:
        </p>
        <p class="info-value">
            {{ vehicle.currentStatus }}
        </p>

        <p class="info-title">         
           Niveau de congestion:
        </p>
        <p class="info-value">
            {{ vehicle.congestionLevel }}
        </p>

        <p class="info-title">         
           Relation avec l'horaire:
        </p>
        <p class="info-value">
            {{ vehicle.trip?.scheduleRelationship }}
        </p>
    </div>
</div>
